.Month {
    margin: 1rem;
}

.Month .table-container {
    padding: 2px;
}

.Month table.MonthTable {
    background-color: transparent;
}

.Month table.MonthTable td {
    color: #eee;
}

.Month table.MonthTable td:not([colspan]) {
    width: 14.2857%;
}

.Month table.MonthTable .MonthFirstWeekPlaceholder {
    border: none;
}

.Month .title {
    color: #eee;
}