.Month {
    margin: 1rem;
    padding-bottom: 4rem;
}


.Month .table-container {
    padding: 2px;
}

.Month table.MonthTable {
    background-color: transparent;
}

.Month table.MonthTable td,
.Month table.MonthTable th {
    color: #eee;
}

.Month table.MonthTable th {
    border: none;
}

.Month table.MonthTable td:not([colspan]) {
    cursor: pointer;
    width: 14.2857%;
}

.Month table.MonthTable td:active {
    background-color: #445;
}

.Month table.MonthTable .MonthFirstWeekPlaceholder {
    border: none;
}

.Month .month-heading .title {
    color: #eee;
    margin-bottom: 0rem;
}

.Month .month-heading {
    white-space: nowrap;
}

.Month .title {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Month .prev-month {
    cursor: pointer;
    width: 0; 
    height: 0; 
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent; 
    border-right: 0.8rem solid #eee;
    display: inline-block;
}

.Month .next-month {
    cursor: pointer;
    width: 0; 
    height: 0; 
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent; 
    border-left: 0.8rem solid #eee;
    display: inline-block;
}