.Month {
    margin: 1rem;
}

.Month .table-container {
    padding: 2px;
}

.Month table.MonthTable {
    background-color: transparent;
}

.Month table.MonthTable td,
.Month table.MonthTable th {
    color: #eee;
}

.Month table.MonthTable th {
    border: none;
}

.Month table.MonthTable td:not([colspan]) {
    cursor: pointer;
    width: 14.2857%;
}

.Month table.MonthTable .MonthFirstWeekPlaceholder {
    border: none;
}

.Month .title {
    color: #eee;
}