.App {
    background-color: #444444;
    color: #eee;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.App input {
    color: black;
}

.innerView {
    display: flex;
    flex: 1;
    flex-direction: column;
}