.LoginForm-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.LoginForm-logo > img {
    display: inline-block;
    height: 2.5rem;
}

.LoginForm-logo > .title {
    color: #eee;
    display: inline-block;
    padding-left: 0.5rem;
}