.Navigator {
    background-color: #333;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.Navigator-buttons {
    display: flex;
}

.Navigator-btn {
    border: 2px solid transparent;
    color: #999;
    cursor: pointer;
    flex: 1 1 auto;
    padding: 15px 5px;
    text-align: center;
}

.Navigator-btn[data-is-active="1"] {
    border-bottom: 2px solid #eee;
    color: #eee
}

.Navigator-btn-logo {
    height: 10vw;
    width: 10vw;
    max-height: 2rem;
    max-width: 2rem;
}

.Navigator-btn-logo:not(.active) {
    filter: brightness(50%);
}