.UserIsHomeStatus-line {
    color: lightgray;
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.6rem;
}

.UserIsHomeStatus-line::before {
    content: ' ';
    background-color: transparent;
    border: .08rem solid lightgray;
    border-radius: 50%;
    display: inline-block;
    height: 0.5rem;
    margin-right: 0.3rem;
    width: 0.5rem;
    position: relative;
    top: -0.08rem;
}

.UserIsHomeStatus-line.is-home {
    color: lime;
}

.UserIsHomeStatus-line.is-home::before {
    background-color: lime;
    border-color: lime;
}